.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  height: 100vh;
  transition: .2s all ease-in;
}

.wrapper.dark {
  background: #343a40;
  color: #fff;
}

.wrapper.dark hr {
  border-top: 1px solid rgba(0,0,0,.9);
}

.wrapper.dark .card {
  background: #343a40;
  border: 1px solid rgba(0,0,0,.875);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark {
  background: #343a40;
}

.flex {
  display: flex;
}

.movies {
  border-radius: .25rem;
  margin-top: 1em;
  margin-right: 1em;
  width: 50%;
}

.movies__table {
  width: 100%;
}

td {
  border: 1px solid gray;
  padding: 5px;
}